body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:20%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  overflow: auto;
  border: 1px solid #555;
}

li a {
  display: block;
 
  padding: 12px 18px;
  text-decoration: none;

}

li {
  text-align: center;
  border-bottom: 1px solid #555;
  font-size: 20px;
   color: rgb(107, 105, 105);
}

li:last-child {
  border-bottom: none;
}

 li a.active {
  background-color: #4CAF50;
  color: white; 
} 
li:hover {
  background-color: #555;
  color: white;
}